.footer {
  max-width: 1512px;
  height: 320px;
  padding: 64px 192px 64px 192px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #EAEAEA, #EAEAEA);
  border-top: 1px solid #EAEAEA;

  @include atLarge1512{
    padding: 64px 150px;
  }

  @include atLarge1200{
    padding: 64px 100px;
  }

  @include atLarge{
    padding-left: 20px;
  }
  @include atMedium{
    justify-content: center;
    padding: 64px 10px;
  }

  &__company {
    width: 178px;
    height: 192px;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4rem;

    @include atSmall{
      margin-right: 0;
      // width: 100%;
    }

    &>a {
      &>img {
        display: block;
        width: 122px;
        height: 32px;
      }
    }

    &__copyright {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &>p {
        font-size: 1.4rem;
        text-align: left;
      }
    }

    &__social-medias {
      display: flex;
      justify-content: space-between;

      .social__media-image {
        width: 1.7rem;
        height: 1.7rem;
      }
    }

  }

  &__links {
    width: 825px;
    height: 180px;
    display: flex;
    justify-content: space-between;

    @include atMedium{
      width: 160px;
    }

    @include atSmall{
      display: none;
    }

    &__frame {
      // background-color: red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // align-items: center;

      @include atMedium{
        &:not(:last-of-type){
          display: none;
        }
      }

      @include atSmall{
        display: none;
      }

      &--links {
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 132px;
        // gap: 12px;

        .footer__sub-link {
          color: $color-link;
          //styleName: Body/Normal/Regular;
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;

          &:not(:last-of-type) {
            margin-bottom: 1.2rem;
          }
        }

        .footer__send-email {
          position: relative;
          width: 25.5rem;
          height: 4rem;
          // align-self: flex-end;
          // background-color: red;
          // justify-self: flex-end;

          .email__input {
            width: 100%;
            height: 4rem;
            // border-radius: 1.6rem;
          }

          .email__send {
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1.8rem;
            height: 1.8rem;
            // background-color: red;

          }
        }
      }

      .contact__us {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

  }
}