.container{
  max-width: 151.2rem;
  display: block;
  margin: 0 auto;
}

.btn--close{
  width: 3rem;
  height: 2px;
  background-color: $color-primary;
  position: relative;
  outline: none;
  border: none;

  &::after {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    left: 0;
    bottom: 10px;
  }

  &::before {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    left: 0;
    top: 10px;
  }
}

.btn--open {
  width: 3rem;
  // height: 2px;
  background-color: $color-w;
  position: relative;
  outline: none;
  border: none;

  &::after {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 10px;
    transform: rotate(45deg);
  }

  &::before {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
  }
}

.btn2{
  background-color: $color-primary;
  width: 27.2rem;
  height: 5.6rem;
  padding: 1.6rem 3.6rem 1.6rem 3.6rem;
  border-radius: 32px ;
  color: $color-w;
  transition: background-color .3s;
  cursor: pointer;
  &:hover{
    background-color: darken($color: $color-primary, $amount: 5);
  }
}

.main__header{
  font-size: 5rem;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: $color-primary;
}

.paragraph{
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: $color-matt-black;
}

.sub__header{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1645965576171875px;
  text-align: center;
  color: $color-matt-black;
}
