$color-primary: #11453B;
$color-grey-dark: #515251;
$color-black: #000000;
$color-w: #fff;
$shadow-light: 0 0 5px 2px rgba($color: $color-primary, $alpha: .3);
$shadow-text: 0 0 5px rgba($color: #000000, $alpha: .3);
$color-cream: #B4A572 ;
$color-red: #EA4E4B ;
$color-matt-black: #292A29;
$color-primary-dark: #072923;
$color-light-grey: #E7E8E7;
$color-light-grey2: #F0F7EB;
$color-dark-red: #C92F02;
$color-light-grey-2: #F9FAFC;
$color-light-green: #D9EBCD;
$color-pink: #FFE9E7;
