@font-face {
  font-family: "Aeonik";
  src: local("Aeonik"),
    url("./fonts/Aeonik/Aeonik-Regular.otf") format("truetype");
  font-weight: bold;
}

@import "./sass/variable";
@import "./sass/main";
@import "./sass/mixins";
@import "./sass/utilityClasses";
@import "./sass/modal";
@import "./sass/app";
@import "./sass/downloadEazypayApp";
@import "./sass/homepage";
@import "./sass/homeHeader";
@import "./sass/footer";